{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Go WEB</title>
</head>
<body>
    <header>
        <h1>Curso Go WEB</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Camiseta</td>
                    <td>Camiseta preta</td>
                    <td>59</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>

    </footer>
</body>
</html>
{{end}}